// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// scss-docs-start theme-color-variables

$primary:       #2374AB;
$light-blue:       #a2c2d8;
$secondary:     #ABA6A2;
$light:         #FBF8F7;
$dark:          #2F2E2C;
$alt: #E7E3E2;
$card-bg: #FBF8F7;


// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: 'Work Sans', sans-serif;
$line-height-base: 2;

// $font-family-base, $font-size-base, and $line-height-base



@import "../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here
//custom added CSS below

.card-img-top2 {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.line-height-card {
    line-height: 1;
}

.bg-alt {
    background-color: #E7E3E2;
}

.bg-light-blue{
    background-color: $card-bg;
}

.card {
    border: none;
}

.img-details {
    width:auto; 
    height:100%; 
    max-height:550px
}

.heart {
    // font-size: 50px;
      color:red;
}

.upvote {
// font-size: 50px;
    color:$primary;
}

  /* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

.img-display {
    border-radius: 25px;
    width: 100%;
    height: 16vw;
    object-fit: cover;
}

.border-r {
    border-radius: 25px;
}

.img-display-lg {
    border-radius: 25px;
    width: 100%;
    // height: 16vw;
    object-fit: cover;
}

.img-display-sm {
    width:auto; 
    height:55%; 
    max-height:550px
}

.img-display-xsm {
    width:auto; 
    height:35%; 
    max-height:550px
}

body{margin-top:20px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.carousel-inner > .item > img {
    width:640px;
    height:360px;
}

.carousel-size {
    height: 50%;
    width: 100% !important;
    object-fit: cover;
}